<!-- Loop over each object in the murals array -->
{{#each murals as |mural| }}
<div class="row mb-4 mural">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/mural/{{mural.id}}">{{mural.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount mural.year_installed}}</span>
      needed!
    </p>
    <p>Created by {{mural.user.name}} on {{format_date mural.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{mural.description}}
    </p>
  </div>
</div>
{{/each}}
